*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    width:100%;
    top:0;
    left:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 70px;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}
.logo img{
    width:100px;
    height:45px;
}
nav{
    display:flex;
    gap:35px;
}
nav a{
    text-decoration:none;
    font-size:16px;
}
.nav-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    cursor:pointer;
}
.hero{
    position:relative;
    height:100vh;
    background-image:url("assets/banner.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}

.content{
    position:relative;
    
    text-align:center;
    color:white;
}

.content h1{
    font-size:72px;
    margin-bottom:45px;
}

.content span{

    font-style:italic;
}

.content p{

    width:700px;
    max-width:90%;
    margin:auto;
    line-height:1.8;
    font-size:18px;
    margin-bottom:200px;
}

.content button{
    background:#2563eb;
    color:white;
    border:none;
    padding:18px 40px;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.speakers{
    padding: 100px 70px;
    background: #ffffff;
}

.speakers h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 60px;
}

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card{
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    overflow: hidden;
    background: white;
}

.card img{
    width: 100%;
    height: 280px;
    
}

.card-content{
    padding: 20px;
}

.card-content span{
    color: #2563eb;
    font-size: 12px;
    font-weight: bold;
}

.card-content h3{
    margin: 10px 0;
    font-size: 28px;
}

.card-content p{
    color: #666;
    font-size: 15px;
}
.pricing{
    padding: 100px 70px;
    background: #ffffff;
    text-align: center;
}

.pricing h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle{
    color: #666;
    margin-bottom: 60px;
}

.pricing-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.price-card{
    width: 350px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 25px;
    text-align: left;
    background: white;
}

.pro{
    background: #0f172a;
    color: white;
}

.plan{
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.price-card h3{
    font-size: 48px;
    margin: 10px 0;
}

.person{
    color: gray;
    margin-bottom: 20px;
}

.pro .person,.pro .plan{
    color: #cbd5e1;
}

.price-card hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.pro hr{
    border-top: 1px solid #334155;
}

.price-card ul{
    padding-left: 18px;
    margin-bottom: 30px;
}

.price-card li{
    margin-bottom: 12px;
    font-size: 15px;
}

.price-card button{
    width: 100%;
    padding: 14px;
    border: 1px solid #2563eb;
    background: white;
    color: #2563eb;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.pro button{
    background: #2563eb;
    color: white;
    border: none;
}
.features{
    padding:100px 70px;
    text-align:center;
    background:#f8fafc;
}

.features h2{
    font-size:48px;
    margin-bottom:15px;
}

.features>p{
    color:#64748b;
    width:700px;
    max-width:90%;
    margin:0 auto 60px;
    line-height:1.7;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.feature-card{
    background:white;
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:35px 25px;
}

.feature-card h3{
    font-size:45px;
    margin-bottom:15px;
}

.feature-card h4{
    font-size:22px;
    margin-bottom:10px;
}

.feature-card p{
    color:#64748b;
    line-height:1.6;
}
footer{
    background-color: #dae0ea;
    color: #03132b;
    padding: 35px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 15px;
}

.footer-links{
    display: flex;
    gap: 35px;
}

.footer-links a{
    text-decoration: none;
    color: #091c3a;
    font-size: 15px;
}